{% extends 'ui/admin/layout/admin_layout.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
    <h1>Author index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FamilyName</th>
                <th>FirtsName</th>
                <th>IsEnabled</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.familyName }}</td>
                <td>{{ author.firtsName }}</td>
                <td>{{ author.isEnabled ? 'Yes' : 'No' }}</td>
                <td>{{ author.createdAt ? author.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ author.updatedAt ? author.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ author.deletedAt ? author.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('ui_admin_author.show', {'id': author.id}) }}">Show</a>
                    <a class="btn btn-warning" href="{{ path('ui_admin_author.edit', {'id': author.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('ui_admin_author.new') }}">Create new</a>
{% endblock %}
