<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav class="d-flex justify-content-around">
            <a href="{{ path('ui_admin_author.index') }}">Author</a>
            <a href="{{ path('ui_admin_book.index') }}">Book</a>
            <a href="{{ path('ui_admin_publisher.index') }}">Publisher</a>
            <a href="{{ path('ui_logout.logout') }}">Logout</a>
        </nav>
        {% block body %}{% endblock %}
    </div>

    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>